* {
  padding: 0px;
  margin: 0 auto;
}

body{
  font-family: "Space Mono", sans-serif;
  text-align: center;
  max-width: 1200px;
  font-size: 18px;
  line-height: 1.4em;
  color: GhostWhite;
  background-image: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.clearfix {
  clear: both;
}

.flex{
  display: flex;
  flex-direction: column;
}

header{
  text-align: center;
  margin: auto;
  line-height: 2em;
  padding:0px 15px;
}

header .logo{
  width: 80px;
  height:80px;
  background-image: url("https://cdn2.iconfinder.com/data/icons/thesquid-ink-40-free-flat-icon-pack/64/space-rocket-512.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  top:1em;
}

header h1{
  display: inline-block;
  padding-bottom: 1em;
  padding-top: 20px;
}

.description{
  padding: 60px 15px;
  font-size: 0.9em;
}

.more a{
  color: orange;
}

.gallery{
  display: flex;
  flex-flow: row wrap;
  margin: 15px;
}

.thumnail img{
  width: 230px;
  border: 2px solid pink;
  margin: 15px;
}

footer{
  padding-top: 3em;
}

footer a{
  color: snow;
}

footer .menu{
  margin: 20px;
  text-align: left;
}

footer .contact a{
  padding: 8px;
  background-color: orange;
  text-decoration: none;
}

footer .contact a:hover{
  position: relative;
  top: 2px;
}

@media only screen and (max-width:480px){
  header { width: 260px;}
  .thumnail img{width: 95%;}
  footer .menu{text-align: center; margin-bottom: 2em;}
}

@media only screen and (min-width:768px) and (max-width:1024px) {
  .flex {flex-direction: row;}
  .header_flex{ flex: 1 2 320px;}
  .gallery{ flex: 2 1 440px;}
  .description{text-align: left;}
  .more{ display: none;}
  .thumnail img{ margin: 10px;}
}

@media only screen and (min-width:1025px){
  header h1{
    padding-bottom: 0.8em;
    font-size: 3em;
  }
}
